.Root {
  align-items: center;
  border: 2px dashed #e1e4e8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -16px;
  min-height: 400px;
  padding: 24px;
  width: 400px;
}


.Actions {
  display: flex;
  margin: 40px 0 0;

  & > *:not(:first-child) {
    margin: 0 0 0 16px;
  }
}

.Browse {
  color: #8a94a6;
  font-size: 16px;
}

.Error {
  background: #ffeaea;
  border-radius: 20px;
  color: #dd2727;
  margin: 0 0 32px;
  padding: 8px 20px;
}

.Input {
  display: none;
}

.Label {
  color: #0d55cf;

  &:hover {
    cursor: pointer;
  }
}

.Logo {
  color: #8a94a6;
  font-size: 100px;
}

.Size {
  color: #8a94a6;
  font-size: 14px;
}

.Title {
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 0;
}
