.Root {
  max-width: 100%;
  padding: 24px;
}

.Button {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  box-shadow:
    0 0   1px rgba(#0a1f44, .08),
    0 1px 1px rgba(#0a1f44, .08);
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  min-width: 64px;
  padding: 0 16px;
  text-transform: uppercase;

  &:hover:not(:active) {
    box-shadow:
      0 0   1px rgba(#0a1f44, .08),
      0 8px 10px rgba(#0a1f44, .1);
  }
}

.Close {
  background: transparent;
  border: 0;
  color: #a6aebc;
  font-size: 20px;
  height: 24px;
  width: 24px;
}

.Description {
  font-size: 14px !important;
  min-height: 80px;
  resize: none;
  width: 100%;
}

.Delete {
  background: #ec0018;

  &:active {
    background: #da0013;
  }

  &:hover:not(:active) {
    background: #fa0915;
  }
}

.Header {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-between;
}

.Info {
  border-bottom: 1px solid #E9EDF0;
  border-top: 1px solid #E9EDF0;
  margin: 20px 0;
  padding: 20px 0;
}

.Description,
.Name {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: .3px;
  padding: 6px 0;
  width: 100%;

  &:focus {
    border-color: var(--color-downy);
    box-shadow: 0 0 0 1px var(--color-downy);
    cursor: text;
    padding: 6px 12px;
  }

  &:hover:not(:focus) {
    background: rgba(#E9EDF0, .3);
    border-color: #E9EDF0;
    cursor: pointer;
    padding: 6px 12px;
  }
}

.Preview {
  border-radius: 6px;
  height: 292px;
  margin: 20px 0 0;
  overflow: hidden;
  width: 292px;

  &Content {
    max-height: 100%;
    max-width: 100%;
  }
}

.Save {
  background: #00a08d;

  &:active {
    background: #008e7a;
  }

  &:hover:not(:active) {
    background: #00b1a1;
  }
}
