.Root {
  max-width: 100%;
  padding: 24px;
}

.Close {
  background: transparent;
  border: 0;
  color: #a6aebc;
  font-size: 20px;
  height: 24px;
  width: 24px;
}

.Delete {
  background: #ec0018;

  &:active {
    background: #da0013;
  }

  &:hover:not(:active) {
    background: #fa0915;
  }
}

.Download {
  border-bottom: 1px solid #e9edf0;
  padding: 20px 0;

  &Button {
    width: 100%;
  }
}

.Form {
  padding: 20px 0;
}

.Header {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-between;
  margin: 0 0 20px;
}

.Image {
  border-radius: 4px;
  max-width: 100%;
}

.Info {
  border-bottom: 1px solid #e9edf0;
  border-top: 1px solid #e9edf0;
  padding: 20px 0;
}

.Thumbnail {
  margin: 20px 0;
  overflow: hidden;
  width: 288px;
}
