.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &Is {
    &Loading {
      height: 40px !important;
      width: 40px !important;

      .Content {
        opacity: 0;
        visibility: hidden;
      }

      .Loading {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &Variant {
    &Audio:not(.RootIsLoading) {
      width: 312px;
    }

    &Video:not(.RootIsLoading) {
      margin: -24px;
    }
  }
}

.Content {
  display: flex;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  width: 100%;
}

.Loading {
  font-size: 40px;
  opacity: 0;
  position: absolute;
  visibility: hidden;


  & > i {
    animation: loading 1s linear infinite;
    background: linear-gradient(106deg, #ff5980, #ffa882);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
