{
  "plugins": [
    "import-graphql",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./config",
          "database": "./database",
          "helpers": "./helpers",
          "models": "./models"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-flow"]
}
