.Root {
  align-items: center;
  background: rgba(#e8eaed, .2);
  border: 1px solid #e8eaed;
  border-radius: 4px;
  display: flex;
  padding: 16px;

  &:hover:not(&IsErred) {
    background: rgba(#e8eaed, .3);
    cursor: pointer;
  }

  &Is {
    &Erred {
      background: rgba(#f92e37, .1);
      border-color: rgba(#f92e37, .2);

      .Description {
        color: rgba(#f92e37, .5);
      }

      .Logo {
        color: rgba(#f92e37, .3);
      }
    }
  }
}

.Description {
  color: rgba(#344563, .6);
  font-size: 12px;
  line-height: 18px;
  word-break: break-all;
}

.Info {
  margin: 0 0 0 16px;
}

.Input {
  display: none;
}

.Logo {
  color: rgba(#344563, .2);
  font-size: 40px;
}

.Title {
  font-size: 16px;
  font-weight: 500;
}
