.Root {
  :global .ReactTable {
    border: 0;

    .rt-td {
      align-items: center;
      border: 0;
      color: #0a1f44;
      display: flex;
      font-size: 14px;
      padding: 0 16px;
    }

    .rt-th {
      align-items: center;
      border: 0;
      color: var(--color-text-secondary);
      display: flex;
      font-size: 14px;
      padding: 0 16px;
    }

    .rt-tr {
      padding: 0 8px;

      &-group {
        height: 64px;

        &:hover {
          background: rgba(0, 0, 0, .02);
          cursor: pointer;
        }
      }
    }

    .rt-thead {
      border-bottom: 2px solid #e9edf0;
      height: 48px;

      &.-header {
        box-shadow: none;
      }
    }
  }
}

.Row {
  &Is {
    &Selected {
      background: #ebf5ff;

      :global .rt-td {
        color: #007fff !important;
      }
    }
  }
}
