.Root {
  display: flex;
  max-height: 100%;

  :global .ReactTable {
    border: 0;
    width: 100%;

    .rt-td {
      align-items: center;
      border: 0;
      color: #0a1f44;
      display: flex;
      font-size: 14px;
      padding: 0 16px;
    }

    .rt-th {
      align-items: center;
      border: 0;
      color: var(--color-text-secondary);
      display: flex;
      font-size: 14px;
      padding: 0 16px;
    }

    .rt-tr {
      padding: 0 8px;

      &-group {
        height: 64px;

        &:hover {
          background: rgba(0, 0, 0, .02);
          cursor: pointer;
        }
      }
    }

    .rt-tbody {
      overflow-x: hidden;
      overflow-y: scroll;

      &:hover {
        &::-webkit-scrollbar-thumb {
          background: #bfbfc7;
        }
      }

      &::-webkit-scrollbar {
        background: transparent;
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px 0 0 4px;
      }
    }

    .rt-thead {
      // border-bottom: 2px solid #e9edf0;
      height: 48px;

      &.-header {
        box-shadow: 0 0 1px rgba(#0a1f44, .08), 0 3px 4px rgba(#0a1f44, .1);
      }
    }
  }
}

.Row {
  &Is {
    &Selected {
      background: #ebf5ff;

      :global .rt-td {
        color: #007fff !important;
      }
    }
  }
}
