:root {
  --color-black: #5e6c84;
  --color-blue: #61a4e4;
  --color-downy: #64c8bc;
  --color-green: #45b854;
  --color-orange: #ffa958;
  --color-purple: #6554c0;
  --color-red: #f92e37;


  --color-text: #344563;
  --color-text-secondary: #5e6c84;
}
