.Root {
  &Is {
    &Erred {
      .Input {
        border-color: #F03D3D;
      }
    }
  }
}

.Input {
  background: transparent;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  color: #0a1f44;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  padding: 0 12px;
  width: 100%;

  &:focus {
    border-color: #007fff;
    box-shadow: 0 0 0 1px #007fff;
  }
}

.Info {
  color: #a6aebc;
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0;
}

