.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Actions {
  & > *:not(:first-child) {
    margin: 0 0 0 16px;
  }
}

.Container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: calc(100% - 80px);
  overflow: hidden;
}

.Header {
  align-items: center;
  background: #fff;
  box-shadow:
    0 0 1px rgba(#0a1f44, .08),
    0 8px 10px rgba(#0a1f44, .1);
  display: flex;
  flex: 0 0 80px;
  height: 80px;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
  z-index: 2;

  &Right {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.Language {
  border-left: 1px solid #e1e4e8;
  height: 100%;
  margin: 0 0 0 24px;
}

.Logo {
  background: transparent url('~@assets/logo-oasis.svg') no-repeat center center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.Modal {
  width: 360px;
}
