.Root {
  background: #f8f9fb;
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.Container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: calc(100% - 100px);
}

.Content {
  display: flex;
  flex: 1 1 auto;
}

.Drag {
  background: rgba(255, 255, 255, .6);
  height: 100%;
  left: 0;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &Animate {
    &Enter {
      transition: all .4s;

      &:not(&Active) {
        opacity: 0;

        .DragIcon,
        .DragTitle {
          opacity: 0;
          transform: translateY(100%);
        }
      }

      &Active {
        opacity: 1;

        .DragIcon,
        .DragTitle {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .DragTitle {
        transition-delay: .2s;
      }
    }

    &Exit {
      transition: all .4s;

      &:not(&Active) {
        opacity: 1;
      }

      &Active {
        opacity: 0;
      }
    }
  }

  &Content {
    align-items: center;
    background: rgba(255, 255, 255, .8);
    border: 4px dashed #e9edf0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &Icon {
    color: var(--color-downy);
    font-size: 120px;
  }

  &Label {
    color: var(--color-downy);
    cursor: pointer;
    font-weight: 600;
  }

  &Title {
    font-size: 20px;
    margin: 12px 0 0;
  }
}

.Header {
  border-bottom: 1px solid #e9edf0;
  flex: 0 0 100px;
  height: 100px;
}

.Loading {
  align-items: center;
  background: rgba(#e1e4e8, .8);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;

  &Animate {
    &Enter {
      &:not(&Active) {
        background: rgba(#e1e4e8, .0);
      }

      .Spinner {
        transform: scale(.6);
      }

      &Active {
        background: rgba(#e1e4e8, .8);

        .Spinner {
          transform: scale(1);
        }
      }
    }
  }
}

.List {
  flex: 1 1 auto;
  width: 100%;
}

.Sidebar {
  background: #fff;
  box-shadow:
    0 0 1px rgba(#0a1f44, .08),
    -4px 0 4px rgba(#0a1f44, .1);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 336px;

  &Animate {
    &Enter {
      transition: all .2s ease-out;

      &:not(&Active) {
        transform: translateX(100%);
      }

      &Active {
        transform: translateX(0%);
      }
    }

    &Exit {
      transition: all .2s ease-in;

      &:not(&Active) {
        transform: translateX(0%);
      }

      &Active {
        transform: translateX(100%);
      }
    }
  }
}

.Spinner {
  color: #0d55cf;
  font-size: 40px;

  & > i {
    animation: loading .8s linear infinite;
  }
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
