.Root {
  display: flex;
  font-size: 13px;

  &:not(:first-child) {
    margin: 4px 0 0;
  }
}

.Label {
  color: var(--color-text-secondary);
  flex: 0 0 100px;
  width: 100px;
}

.Value {
  line-height: 20px;
}
